.logo {
    color: aquamarine;
}
.header_nav {
    display: flex;
    background: transparent;
    z-index: 1;
    padding: 15px;
}
.header_nav ul {
    margin: 0;
    width: 100%;
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
}
.header_nav ul li{
    padding: 0 20px;
    text-transform: uppercase;
    letter-spacing: -0.5px;
    cursor: pointer;
}
.active {
    color: green;
    font-weight: 500;
}
.active span {
    border-bottom: 2px solid green;
    padding-bottom: 10px;
    transition: all 0.1s ease-out;
}
