html,
body {
  padding: 0;
  margin: 0;
  color: #404040;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.page_title {
  text-transform: capitalize;
}
.links {
  cursor: pointer;
  color: rgb(118, 131, 152);
  text-decoration: underline;
}

.dp {
  z-index: 1;
  position: fixed;
  right: 10%;
  top: 22%;
  border-radius: 50%;
  overflow: hidden;
}

.gray_layer {
  z-index: -1;
  width: 45%;
  height: calc(100vh + 265px);
  background-image: linear-gradient(to bottom right, rgb(207, 218, 232), rgb(255, 255, 255));
  /*background-image: url("../public/images/bg.jpg");*/
  position: fixed;
  right: 0;
  top: -265px;
  border-bottom-left-radius: 100%;
  border-top-left-radius: 50%;
}

.content {
  width: 45%;
  margin-top: calc(100% - 90%);
  margin-left: calc(100vw - 94%);
  /*background-image: linear-gradient(30deg, rgb(237, 241, 245), rgb(255, 255, 255));*/
  background-image: radial-gradient(rgb(237, 241, 245), rgb(255, 255, 255));
  border-radius: 20px;
  padding: 2em;
}
@media only screen and (max-width: 1440px) {
  .dp {
    right: 8%;
  }
  .gray_layer {
    width: 40%;
  }
  .content {
    width: 48%;
  }
}

@media only screen and (max-width: 1024px) {
  .dp {
    right: 7%;
  }
  .gray_layer {
    width: 38%;
  }
  .content {
    width: 50%;
  }
}

@media only screen and (max-width: 768px) {
  .dp {
    right: 6%;
  }
  .gray_layer {
    width: 35%;
  }
}
@media only screen and (max-width: 600px) {
  .content {
    width: 60%;
    padding: 1.6em;
  }
}
@media only screen and (max-width: 500px) {
  .content {
    width: 68%;
  }
}
@media only screen and (max-width: 425px) {
  .dp {
    right: 6%;
  }
  .gray_layer {
    width: 34%;
  }
  .content {
    width: 68%;
    padding: 1em;
  }
}
@media only screen and (max-width: 320px) {
  .content {
    width: 78%;
  }
}


/*@media (prefers-color-scheme: dark) {*/
/*  html {*/
/*    color-scheme: dark;*/
/*  }*/
/*  body {*/
/*    color: white;*/
/*    background: black;*/
/*  }*/
/*}*/
