.dp {
    z-index: 1;
    position: fixed;
    right: 183px;
    top: 180px;
    border-radius: 50%;
    overflow: hidden;
}

.gray_layer {
    z-index: 0;
    width: 45%;
    height: 1000px;
    background-image: linear-gradient(to bottom right, rgb(207, 218, 232), rgb(255, 255, 255));
    position: fixed;
    right: 0;
    top: -265px;
    border-bottom-left-radius: 100%;
    border-top-left-radius: 50%;

}
